.notification {
    position: absolute;
    left: 50%;
    margin-left: -340px;
    background-color: #f8dcdd;
    border: 1px solid #f3c0c3;
    width: 680px;
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 0;
    z-index: 2;
}