@import '~utils/style-template.scss';

input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    height: 32px;
    width: 100%;
    padding: 7px 12px;

    background-color: $color-white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;

    &::placeholder{
        color: rgba(173, 173, 173, 1);
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(173, 173, 173, 1);
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(173, 173, 173, 1);
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(173, 173, 173, 1);
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: rgba(173, 173, 173, 1);
    }

    &:focus {
        border-color: $color-primary;
        transition: all 0.2s linear 0s;
        outline: 0;
    }
}
